/* Секционные карточки */
.cards {
  padding: 7vh 8vw;
  display: flex;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  max-width: 100%;
  /* Растягиваем на всю ширину */
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: center;
  overflow: hidden;
}


.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

/* Секционная карточка - изображение */
.card-image {
  aspect-ratio: 1 / 1.1;
  background-size: cover;
  background-position: center;
  flex: 3 0;
  overflow: hidden;
  border-radius: 4rem;
}

.cards-equal .card-image {
  aspect-ratio: none;
  flex: 3;
}

.card-image {
  transform: translateX(-60%) scale(.75);
  transition: all 1.1s ease-out;
  filter: opacity(.3);
}

.fourth .card-image,
.eigth .card-image {
  transform: translateX(60%) scale(.75);
}

.card-image.visible {
  transform: translateX(0) scale(1);
  filter: opacity(1);
}

/* Секционная карточка - контент */
.card-content {
  background-color: #f5f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(1.5rem + 2vw);
  padding: 2rem 1.5rem;
  text-align: center;
  color: #2c3e50;
  border-radius: calc(2rem + 3vw);
  flex: 4;
  opacity: .2;
  transform: translateX(95%);
  transition: all 1.1s ease-out;
}

.fourth .card-content,
.eigth .card-content {
  transform: translateX(-95%);
}

.card-content.visible {
  transform: translateX(0);
  opacity: 1;
}

.card-description {
  color: #5a6f87;
}

/* (Умный дом вашей мечты) Горизонтальный список */
.card-stats {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.card-stats li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(45deg, #3498db, #bdc3c7);
  background-clip: text;
}

.stat-label {
  color: #5a6f87;
}

/* Секционная кнопка для обратной связи */
.card-button {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
  padding: calc(.7rem + .2vw) calc(.5rem + 3vw);
  background-color: #e7edef;
  color: #106097;
  border: 1px solid #106097;
  border-radius: 10% / 50%;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  transition: all 0.3s ease-in;
}

.card-button:hover {
  background-color: #abc;
  color: #f5f8fa;
  border: 1px solid #f5f8fa;
  box-shadow: 0 0 .3rem gray;
}

/* Адаптивность */
@media (width <=768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 100%;
    /* Растягиваем на всю ширину */
  }
  
  .card-image {
    flex: none;
    /* Отключаем пропорции на мобильных */
  }
  
  .card-content {
    flex: none;
    /* Отключаем пропорции на мобильных */
  }
  
  .card-button {
    align-self: stretch;
  }
}



/* Секции ("Кто мы?", "О Умном Доме") */
.about-us-list,
.smart-home-list {
  margin: .5rem 0;
  list-style: none;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-us-item,
.smart-home-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid #eee;
}

.about-us-icon,
.smart-home-icon {
  width: 50px;
  height: 50px;
  background-color: #e6f0fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.smart-home-content {
  flex: 1;
}

.about-us-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-us-title {
  color: #2c3e50;
}

.about-us-description,
.smart-home-description {
  color: #5a6f87;
}

/* Адаптивность */
@media (width <=768px) {
  .about-us-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  
  .about-us-icon {
    margin-left: 0;
  }
  
  .about-us-content {
    text-align: left;
  }
}


/* Секция "Узнайте больше об Умном Доме" */
.learn-more {
  background-color: #f9f9f9;
  padding: 7vh 8vw;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: center;
  overflow: hidden;
}

.learn-more .card-title {
  text-align: center;
  margin-bottom: 5rem;
  color: #2c3e50;
}

.learn-more-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  perspective: 100px;
}

.learn-more-item {
  background-color: #fff;
  border-radius: calc(2rem + 3vw);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(1.5rem + 2vw);
  flex: 1;
  transform: translateY(70%) scale(1.3);
  opacity: .3;
  transition: all 1.1s ease-out;
}

.learn-more-item.visible {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.learn-more-number {
  font-size: clamp(2rem, calc(2rem + 2.5vw), 4rem);
  font-weight: bold;
  background: linear-gradient(45deg, #3498db, #bdc3c7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.learn-more-label {
  font-size: clamp(0.875rem, 1.6vw, 1.125rem);
  color: #5a6f87;
  text-align: center;
}

/* Адаптивность */
@media (width <=576px) {

  /* Мобильные: вертикальная колонка */
  .learn-more-list {
    flex-direction: column;
    align-items: center;
  }
  
  .learn-more-item {
    width: 100%;
  }
}

@media (width >=577px) and (width <=1080px) {

  /* Планшеты: 2x2 сетка */
  .learn-more-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  
  .learn-more-item {
    max-width: none;
  }
}

@media (width >=1080px) {

  /* Десктоп: горизонтальная строка */
  .learn-more-list {
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1200px;
  }
  
  .learn-more-item {
    flex: 1;
    max-width: none;
  }
}



/* Секция "Проект «Создать умный дом»" */
.eigth .card {
  box-shadow: none;
}

.eigth .card-image {
  flex: 3 0;
}

.eigth .card-content {
  padding: 0;
  background-color: inherit;
}

.section-description {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 10vw;
  color: #5a6f87;
}

.project-form {
  background-color: #e6e9ec;
  width: 100%;
  /* Лёгкий серый фон */
  padding: calc(2rem + 3vw) calc(1.2rem + 1vw);
  border-radius: calc(2rem + 2vw);
  display: flex;
  flex-direction: column;
  gap: calc(1rem + 1vw);
}

.form-input,
.form-textarea {
  background-color: #fff;
  border: none;
  border-radius: calc(.8rem + .5vw);
  padding: 15px;
  font-size: clamp(0.875rem, 2vw, 1.5rem);
  /* Адаптивный размер шрифта */
  color: #2c3e50;
  outline: none;
  resize: none;
  /* Отключаем изменение размера textarea */
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #a0b0c0;
}

.form-textarea {
  height: 150px;
}

.form-button {
  align-self: flex-start;
  margin-top: 1rem;
  padding: calc(1.2rem - .5vw) calc(2rem - .5vw);
  background-color: #195e8b;
  color: #fff;
  border: none;
  border-radius: calc(1rem + .5vw);
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.form-button:hover {
  background-color: #0c3753;
}

/* Адаптивность */
@media (width <=768px) {
  
  .form-input,
  .form-textarea {
    padding: 12px;
  }
  
  .form-textarea {
    height: 120px;
  }
  
  .form-button {
    padding: 12px;
  }
}

@media (width >=768px) and (width <=1200px) {
  .eigth .card-image {
    margin-top: 50%;
  }
  
  .eigth .card-content {
    margin-bottom: 15%;
  }
  .section-description {
    margin: 0 auto 5vw;
  }
}



/* Секции ("Наша команда", "Люди доверяют нам", "Наши услуги") */
.team,
.trust {
  padding: 7vh 8vw;
  background-color: #f7faf5;
}

.team .card-title,
.trust .card-title,
.services .card-title {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto;
  padding: 0;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 200px;
  max-width: 250px;
}

.member-image {
  width: 100%;
  padding-bottom: 100%;
  
  /* Делает изображение квадратным */
  background-size: cover;
  background-position: center;
  border-radius: calc(2rem + 3vw);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  margin-bottom: 15px;
  transform: scale(.6);
  filter: opacity(.4);
  transition: all 1.1s ease-out;
}

.member-image.visible {
  transform: scale(1);
  filter: opacity(1);
}

.member-name {
  margin-bottom: 5px;
  color: #2c3e50;
  text-align: center;
}

.member-position {
  color: #5a6f87;
  text-align: center;
}

/* Адаптивность */
@media (width <=576px) {
  
  /* Мобильные: вертикальная колонка */
  .team-list {
    flex-direction: column;
    align-items: center;
  }
  
  .team-member {
    width: 100%;
  }
}

@media (width >=577px) and (width <=1080px) {
  
  /* Планшеты: 2x2 сетка */
  .team-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  
  .team-member {
    max-width: none;
  }
}

@media (width >=1080px) {
  
  /* Десктоп: горизонтальная строка */
  .team-list {
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1200px;
  }
  
  .team-member {
    flex: 1;
    max-width: none;
  }
}


/* Секция "Наши услуги" */
.services {
  padding: 7vh 0;
  margin: 0 auto;
  background-color: #f7faf5;
}
.services-carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.services-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.service-item {
  flex: 0 0 100%;
  /* Одна карточка на мобильных */
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  height: 450px;
}

.service-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.service-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, .8);
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

.service-title {
  margin-bottom: 5px;
  color: #2c3e50;
}

.service-description {
  font-size: clamp(0.75rem, 1.4vw, 1rem);
  color: #5a6f87;
}

/* Кнопки навигации */
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fffd;
  color: #0a0b0f;
  border: none;
  padding: .5rem;
  padding-bottom: .7rem;
  cursor: pointer;
  font-size: clamp(1.25rem, calc(1.5rem + 2vw), 1.75rem);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  z-index: 5;
}

.carousel-btn:active {
  background-color: #fff5;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

/* Адаптивность */
@media (width >=576px) and (width <=768px) {
  
  .service-item {
    height: 500px;
  }
}
@media (width >=768px) and (width <=991px) {
  
  /* Планшеты: две карточки */
  .service-item {
    flex: 0 0 50%;
  }
}

@media (width >=991px) and (width <=1200px) {
  
  /* Малые ноутбуки: три карточки */
  .service-item {
    flex: 0 0 33.3%;
  }
}

@media (width >=1200px) {
  
  /* Десктоп: четыре карточки */
  .service-item {
    flex: 0 0 25%;
  }
}


/* Секция "Люди доверяют нам" */
.trust {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.trust-description {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 8vw;
  color: #5a6f87;
  text-align: center;
  overflow: hidden;
}

.trust-description p {
  margin-bottom: 20px;
  line-height: 1.8;
  filter: opacity(0);
  transition: all 1.1s ease-out;
}

.trust-description p:nth-child(2n - 1) {
  transform: translateX(-100%);
}

.trust-description p:nth-child(2n) {
  transform: translateX(100%);
}

.trust-description p.visible {
  transform: translateX(0);
  filter: opacity(1);
}

.trust .card-button {
  margin: 0 10vw;
}

/* Адаптивность */
@media (width <=577px) {
  .trust {
    align-items: stretch;
  }
}

@media (width <=768px) {
  .trust {
    padding: 40px 15px;
  }
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .trust-description {
    text-align: left;
  }
  
  .trust-description p {
    margin-bottom: 15px;
  }
}